<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIxRNx6MZColdTSblBQBFll38RD9eype4</string>
	<key>GCM_SENDER_ID</key>
	<string>1061987817719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxinfity.bithabit</string>
	<key>PROJECT_ID</key>
	<string>bithabit-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bithabit-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061987817719:ios:eedad16e35f68ec9ab1bf2</string>
</dict>
</plist>